body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: url(https://images.pexels.com/photos/789750/pexels-photo-789750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 12vh;
    width: 100vw;
    background-color: black;
    color: cornsilk;
    display: flex;
    justify-content: left;
    align-items: center;
}

a {
    text-decoration: none;
    color: cornsilk;
    margin-left: 100px;
}

.main {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    color: cornsilk;
    text-align: center;
}

.main p {
    color: cornsilk;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
}